[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nikola = "*"
webassets = "*"
six = "*"
pyrss2gen = "*"
lxml = "*"
markupsafe = "*"
pillow = "*"
pygal = "*"
yapsy = "*"
appdirs = "*"
gitpython = "*"

[requires]
python_version = "3.7"
